{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        },
        "debug": false
      }
    ],
    "babel-preset-react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime"
  ]
}